In [1]:
import pandas as pd

In [2]:
features_1 = pd.read_csv("books_review_features_appen/struct_feats.csv")

In [3]:
y = pd.read_csv("appen_translated - books.csv")

In [4]:
y.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,helpfulness,confidence,no,review,review_en
0,2905523768,False,finalized,3,12/23/2020 7:25:58,somewhat_helpful,0.6598,64963,مهما كانت ميولك الفكريه .. لازم هتحب حاجه في ا...,Whatever the intellectual tastes .. necessary ...
1,2905523769,False,finalized,3,12/23/2020 7:25:58,helpful,0.6598,52854,.. .. هنا التقيت بأحد أعجب الرجال اطلاقا،شمس ا...,.. .. here I met one impressed by the men at a...
2,2905523770,False,finalized,3,12/23/2020 7:25:58,unrelated,0.6598,48057,سأعود,I'll come back
3,2905523771,False,finalized,3,12/23/2020 7:25:58,helpful,1.0000,14611,لم أكن قد قرأتُ لأحلام ثلاثيتها الشهيرة، ولم أ...,I had not read the dreams of the famous Thelat...
4,2905523772,False,finalized,3,12/23/2020 7:54:33,helpful,1.0000,17368,تسحرني لغتها وقلمها. تمنيت أن صفحات الكتاب لا ...,Language fascinates me and her pen. I wished t...

In [5]:
features_1.head()

,n,length,num_tokens,num_sentences,avg_sent_len,num_exclm_mark,ratio_q
0,0,0.116279,0.085973,0.000000,0.143008,0.0,0.0
1,1,0.246339,0.212670,0.000000,0.302966,0.0,0.0
2,2,0.065461,0.049774,0.000000,0.080508,0.0,0.0
3,3,0.207580,0.176471,0.043478,0.189089,0.0,0.0
4,4,0.056848,0.040724,0.000000,0.069915,0.0,0.0

In [6]:
y = y['helpfulness']

In [7]:
comb = features_1.join(y)

In [8]:
comb.head()

,n,length,num_tokens,num_sentences,avg_sent_len,num_exclm_mark,ratio_q,helpfulness
0,0,0.116279,0.085973,0.000000,0.143008,0.0,0.0,somewhat_helpful
1,1,0.246339,0.212670,0.000000,0.302966,0.0,0.0,helpful
2,2,0.065461,0.049774,0.000000,0.080508,0.0,0.0,unrelated
3,3,0.207580,0.176471,0.043478,0.189089,0.0,0.0,helpful
4,4,0.056848,0.040724,0.000000,0.069915,0.0,0.0,helpful

In [9]:
comb.to_csv('books.csv')

In [10]:
len(comb)

2784

In [11]:
comb.head()

,n,length,num_tokens,num_sentences,avg_sent_len,num_exclm_mark,ratio_q,helpfulness
0,0,0.116279,0.085973,0.000000,0.143008,0.0,0.0,somewhat_helpful
1,1,0.246339,0.212670,0.000000,0.302966,0.0,0.0,helpful
2,2,0.065461,0.049774,0.000000,0.080508,0.0,0.0,unrelated
3,3,0.207580,0.176471,0.043478,0.189089,0.0,0.0,helpful
4,4,0.056848,0.040724,0.000000,0.069915,0.0,0.0,helpful

In [12]:
comb.index = comb['n']

In [13]:
comb.head()

,n,length,num_tokens,num_sentences,avg_sent_len,num_exclm_mark,ratio_q,helpfulness
n,,,,,,,,
0,0,0.116279,0.085973,0.000000,0.143008,0.0,0.0,somewhat_helpful
1,1,0.246339,0.212670,0.000000,0.302966,0.0,0.0,helpful
2,2,0.065461,0.049774,0.000000,0.080508,0.0,0.0,unrelated
3,3,0.207580,0.176471,0.043478,0.189089,0.0,0.0,helpful
4,4,0.056848,0.040724,0.000000,0.069915,0.0,0.0,helpful

In [14]:
comb.to_csv('books.csv')

In [15]:
comb = comb.drop(columns=['n'])

In [16]:
comb.to_csv('books.csv')

In [18]:
features_1 = pd.read_csv("books_review_features_appen/struct_feats.csv")
features_2 = pd.read_csv("books_review_features_appen/GALC_Features.csv")
features_3 = pd.read_csv("books_review_features_appen/inq_features.csv")
features_4 = pd.read_csv("books_review_features_appen/LIWC_Features.csv")
features_5 = pd.read_csv("books_review_features_appen/tf_idf_freq_0.csv")

In [26]:
combination = features_1.join(features_2)
combination.head()

,n,length,num_tokens,num_sentences,avg_sent_len,num_exclm_mark,ratio_q,Unnamed: 0,Admiration/Awe,Amusement,...,Pleasure/Enjoyment,Pride,Relaxation/Serenity,Relief,Sadness,Shame,Surprise,Tension/Stress,Positive,Negative
0,0,0.116279,0.085973,0.000000,0.143008,0.0,0.0,0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.25,0.0
1,1,0.246339,0.212670,0.000000,0.302966,0.0,0.0,1,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00,0.2
2,2,0.065461,0.049774,0.000000,0.080508,0.0,0.0,2,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.50,0.0
3,3,0.207580,0.176471,0.043478,0.189089,0.0,0.0,3,0.666667,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,0.00,0.0
4,4,0.056848,0.040724,0.000000,0.069915,0.0,0.0,4,0.333333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.00,0.0

In [28]:
features_2.head()

,Unnamed: 0,Admiration/Awe,Amusement,Anger,Anxiety,Being touched,Boredom,Compassion,Contempt,Contentment,...,Pleasure/Enjoyment,Pride,Relaxation/Serenity,Relief,Sadness,Shame,Surprise,Tension/Stress,Positive,Negative
0,0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.25,0.0
1,1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00,0.2
2,2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.50,0.0
3,3,0.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,0.00,0.0
4,4,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.00,0.0

In [32]:
len(features_3)

2785

In [31]:
len(combination)

2784

In [33]:
features_3.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,176,177,178,179,180,181,182,183,184,185
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000
1,1,0.088496,0.088496,0.083333,0.000000,0.083333,0.00,0.000000,0.0,0.1,...,0.0,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.088496,0.088496
2,2,0.247788,0.247788,0.250000,0.142857,0.250000,0.25,0.142857,0.0,0.0,...,0.0,0.2,0.25,0.0,0.0,0.166667,0.0,0.0,0.247788,0.247788
3,3,0.053097,0.053097,0.000000,0.000000,0.000000,0.00,0.000000,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.166667,0.0,0.0,0.053097,0.053097
4,4,0.212389,0.212389,0.250000,0.000000,0.250000,0.25,0.000000,0.0,0.1,...,0.0,0.0,0.25,0.0,0.0,0.000000,0.0,0.0,0.212389,0.212389

In [38]:
features_3 = features_3[:2784]

In [39]:
len(features_3)

2784

In [45]:
combination = combination.join(features_3, lsuffix='n', rsuffix='')

In [46]:
combination.head()

,n,length,num_tokens,num_sentences,avg_sent_len,num_exclm_mark,ratio_q,Unnamed: 0n,Admiration/Awe,Amusement,...,176,177,178,179,180,181,182,183,184,185
0,0,0.116279,0.085973,0.000000,0.143008,0.0,0.0,0,0.000000,0.0,...,0.0,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000
1,1,0.246339,0.212670,0.000000,0.302966,0.0,0.0,1,0.000000,0.0,...,0.0,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.088496,0.088496
2,2,0.065461,0.049774,0.000000,0.080508,0.0,0.0,2,0.000000,0.0,...,0.0,0.2,0.25,0.0,0.0,0.166667,0.0,0.0,0.247788,0.247788
3,3,0.207580,0.176471,0.043478,0.189089,0.0,0.0,3,0.666667,0.0,...,0.0,0.0,0.00,0.0,0.0,0.166667,0.0,0.0,0.053097,0.053097
4,4,0.056848,0.040724,0.000000,0.069915,0.0,0.0,4,0.333333,0.0,...,0.0,0.0,0.25,0.0,0.0,0.000000,0.0,0.0,0.212389,0.212389

In [47]:
combination = combination.join(features_4, lsuffix='n', rsuffix='')
combination = combination.join(features_5, lsuffix='n', rsuffix='')

In [48]:
combination.head()

,n,lengthn,num_tokens,num_sentences,avg_sent_len,num_exclm_mark,ratio_q,Unnamed: 0n,Admiration/Awe,Amusement,...,year,yers,yes,you,young,youth,za,zayed,zhrni,zyed
0,0,0.116279,0.085973,0.000000,0.143008,0.0,0.0,0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.246339,0.212670,0.000000,0.302966,0.0,0.0,1,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.065461,0.049774,0.000000,0.080508,0.0,0.0,2,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.207580,0.176471,0.043478,0.189089,0.0,0.0,3,0.666667,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.056848,0.040724,0.000000,0.069915,0.0,0.0,4,0.333333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
combination = combination.join(y)

In [50]:
combination.to_csv('books_combined.csv')

In [52]:
combination = combination.loc[:,~combination.columns.duplicated()]

In [53]:
combination.to_csv('books_combined.csv')

In [54]:
features_1 = pd.read_csv("books_review_features_appen/struct_feats.csv")
features_2 = pd.read_csv("books_review_features_appen/GALC_Features.csv")
features_3 = pd.read_csv("books_review_features_appen/inq_features.csv")
features_4 = pd.read_csv("books_review_features_appen/LIWC_Features.csv")

In [55]:
combination = features_1.join(features_2, lsuffix='n', rsuffix='')
combination = combination.join(features_3, lsuffix='n', rsuffix='')
combination = combination.join(features_4, lsuffix='n', rsuffix='')
combination = combination.join(y)

In [56]:
combination.to_csv('books_combined.csv')

In [59]:
combination.head()

,n,length,num_tokens,num_sentences,avg_sent_len,num_exclm_mark,ratio_q,Unnamed: 0n,Admiration/Awe,Amusement,...,achieve,leisure,home,money,relig,death,assent,nonfl,filler,helpfulness
0,0,0.116279,0.085973,0.000000,0.143008,0.0,0.0,0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.333333,0.0,0.0,0.0,0.0,somewhat_helpful
1,1,0.246339,0.212670,0.000000,0.302966,0.0,0.0,1,0.000000,0.0,...,0.0,0.153846,0.076923,0.0,0.000000,0.0,0.0,0.0,0.0,helpful
2,2,0.065461,0.049774,0.000000,0.080508,0.0,0.0,2,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,unrelated
3,3,0.207580,0.176471,0.043478,0.189089,0.0,0.0,3,0.666667,0.0,...,0.0,0.153846,0.230769,0.0,0.000000,0.0,0.0,0.0,0.0,helpful
4,4,0.056848,0.040724,0.000000,0.069915,0.0,0.0,4,0.333333,0.0,...,0.0,0.153846,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,helpful

In [58]:
combination = combination.loc[:,~combination.columns.duplicated()]
combination.to_csv('books_combined.csv')

In [ ]:
combination.head()

In [62]:
combination_2 = combination[:]

In [64]:

combination_2.head()

,n,length,num_tokens,num_sentences,avg_sent_len,num_exclm_mark,ratio_q,Unnamed: 0n,Admiration/Awe,Amusement,...,achieve,leisure,home,money,relig,death,assent,nonfl,filler,helpfulness
0,0,0.116279,0.085973,0.000000,0.143008,0.0,0.0,0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.333333,0.0,0.0,0.0,0.0,somewhat_helpful
1,1,0.246339,0.212670,0.000000,0.302966,0.0,0.0,1,0.000000,0.0,...,0.0,0.153846,0.076923,0.0,0.000000,0.0,0.0,0.0,0.0,helpful
2,2,0.065461,0.049774,0.000000,0.080508,0.0,0.0,2,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,unrelated
3,3,0.207580,0.176471,0.043478,0.189089,0.0,0.0,3,0.666667,0.0,...,0.0,0.153846,0.230769,0.0,0.000000,0.0,0.0,0.0,0.0,helpful
4,4,0.056848,0.040724,0.000000,0.069915,0.0,0.0,4,0.333333,0.0,...,0.0,0.153846,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,helpful

In [72]:
new_col = []
for i,k in enumerate(combination_2["helpfulness"]):
    if k == "somewhat_helpful" or k == "unrelated" or k == "not_helpful":
        new_col.append("not_helpful")
    else:
        new_col.append("helpful")

In [73]:
combination_2['helpfulness'] = new_col

In [74]:
combination_2.head()

,n,length,num_tokens,num_sentences,avg_sent_len,num_exclm_mark,ratio_q,Unnamed: 0n,Admiration/Awe,Amusement,...,achieve,leisure,home,money,relig,death,assent,nonfl,filler,helpfulness
0,0,0.116279,0.085973,0.000000,0.143008,0.0,0.0,0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.333333,0.0,0.0,0.0,0.0,not_helpful
1,1,0.246339,0.212670,0.000000,0.302966,0.0,0.0,1,0.000000,0.0,...,0.0,0.153846,0.076923,0.0,0.000000,0.0,0.0,0.0,0.0,helpful
2,2,0.065461,0.049774,0.000000,0.080508,0.0,0.0,2,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,not_helpful
3,3,0.207580,0.176471,0.043478,0.189089,0.0,0.0,3,0.666667,0.0,...,0.0,0.153846,0.230769,0.0,0.000000,0.0,0.0,0.0,0.0,helpful
4,4,0.056848,0.040724,0.000000,0.069915,0.0,0.0,4,0.333333,0.0,...,0.0,0.153846,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,helpful

In [ ]:
combination.to_csv('books_combined_2.csv')