In [1]:
import pandas as pd

In [3]:
ar_book = pd.read_csv('arabic_book_reviews.csv')
ar_book.head()

   Unnamed: 0                                     English review
0           0  A wonderful book. I think that the whole novel...
1           1  Novel touches the soul Bamgaha, proud that I f...
2           2  A novel court every shortcut. It was my favori...
3           3  This book is sad bitter, injustice and persecu...
4           4  Novel and represent a realistic and fantastic ...

In [4]:
ar_hotel = pd.read_csv('arabic_hotel_reviews.csv')
ar_hotel.head()

,no,Hotel name,rating,user type,room type,nights,review,enreview
0,1,فندق 72,4,زوج,غرفة قياسية مزدوجة,أقمت ليلة واحدة,“فندق راقي وسوف تتكرر زيارتي له”. الفندق بصراح...,Sophisticated hotel and will be repeated my vi...
1,2,فندق 72,2,مسافر منفرد,غرفة ديلوكس مزدوجة أو توأم,أقمت ليلة واحدة,“ممتاز”. النظافة والطاقم متعاون.,Excellent cleanliness and crew collaborator
2,3,فندق 72,5,زوج,غرفة ديلوكس مزدوجة أو توأم,أقمت ليلة واحدة,استثنائي. سهولة إنهاء المعاملة في الاستقبال. ل...,Exceptionally easy treatment to end the recept...
3,4,فندق 72,4,زوج,غرفة قياسية مزدوجة,أقمت ليلة واحدة,جيد جداً. 😊👍. لايوجد,Very good does
4,5,فندق 72,5,زوج,غرفة ديلوكس مزدوجة أو توأم,أقمت ليلة واحدة,“الحمدلله رب العالمين كان يوم جميل قضيناه في ا...,"Praise be to Allah, Lord of the Worlds beautif..."

In [5]:
ar_hotel_rev = ar_hotel['enreview']

In [6]:
ar_hotel_rev.to_csv('arabic_hotel_reviews.csv')

In [7]:
ar_hotel_rev.head()

0    Sophisticated hotel and will be repeated my vi...
1          Excellent cleanliness and crew collaborator
2    Exceptionally easy treatment to end the recept...
3                                       Very good does
4    Praise be to Allah, Lord of the Worlds beautif...
Name: enreview, dtype: object

In [9]:
en_hotel = pd.read_csv('english_hotel_reviews.csv')
en_hotel.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [10]:
eng_pos = en_hotel['Positive_Review']
eng_neg = en_hotel['Negative_Review']

In [11]:
eng_pos.to_csv('english_pos_hotel_reviews.csv')
eng_neg.to_csv('english_neg_hotel_reviews.csv')

In [13]:
english_data = next(pd.read_json('english_reviews.json',lines=True,chunksize=80000))
english_sents = english_data['review_text']

In [14]:
english_sents.to_csv('english_books_reviews.csv')